body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #575756;
    font-family: 'Poppins-Regular';
}

.home-container{
    width: 60vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}       

.home-container img{
    width: 800px;
    margin: 0 auto 10% auto;
}

.home-container button{
    font-size: 1.7em;
}

#botonerainicial{
    display: flex;
}

#botonerainicial a.button{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, a.button{
    text-transform: uppercase!important;
    font-size: 16px!important;
}

.step {
    display: none;
    margin-top: 20px;
}

.step.active {
    display: block;
}

h1{
    font-family: 'Poppins-SemiBold';
    font-size: 4em;
    line-height: 1.3em;
    color: #ffffff;
}

h1 strong{
    font-family: 'Poppins-Bold';
}

.slider h1{
    color: #575756;
    font-size: 3em!important;
    line-height: 1em;
}

h3{
    font-family: 'Poppins-SemiBold';
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
    line-height: 1.2em;
}

.active-button {
    border: 2px solid #ffffff;
    background-color: #575756;
    color: white;
}

#header{
    position: absolute;
    top: 10px;
    z-index: 9;
    width: 100%;
}

#header img#imago_img{
    max-width: 150px;
    position: absolute;
    right: 50px;
    top: 30px;
}

#header img#back{
    width: 80px;
    position: absolute;
    left: 50px;
    top: 50px;
}

a.button{
    text-decoration: none;
    color: #575756;
    font-size: 20px!important;
    border: 2px solid #ffffff;
    background-color: #efefef;
}

button, a.button{
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    min-width: 200px;
    font-size: 16px;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
}

.slide {
    width: 60vw; 
    min-width: 60vw; 
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-right: 5px; 
    transform: scale(0.8);
    opacity: 0.5; 
}

.slide.active {
    transform: scale(1)!important;
    opacity: 1!important;
}

.slides {
    margin: 15vh 0;
    display: flex;
    transition: transform 0.5s ease;
    justify-content: flex-start;
}


.containerslide {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerslide .left{
    width: 50%;
    height: 100%;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    color: #575756;
}

.lefttop, .righttop{
    width: 60%;
}

.righttop{
    display: none;
}


.containerslide .right{
    height: 100%;
    border-radius: 0px 50px 50px 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#slide1 .containerslide .right{
    background-image: url(images/ventanal.jpg);
}

#slide2 .containerslide .right{
    background-image: url(images/cubre_alarmas.jpg);
}

#slide3 .containerslide .right{
    background-image: url(images/pasarela.jpg);
}

#slide4 .containerslide .right{
    background-image: url(images/carrito.jpg);
}

#slide5 .containerslide .right{
    background-image: url(images/arco_pasillo.jpg);
}

#slide6 .containerslide .right{
    background-image: url(images/arco_pasillo_eco.jpg);
}

#slide7 .containerslide .right{
    background-image: url(images/arco_pasillo_xxl.jpg);
}

#slide8 .containerslide .right{
    background-image: url(images/radio_tata.jpg);
}

#slide9 .containerslide .right{
    background-image: url(images/auto_caja.jpg);
}

#slide10 .containerslide .right{
    background-image: url(images/ventana_gondola.jpg);
}

#slide11 .containerslide .right{
    background-image: url(images/lacteos.jpg);
}

#slide12 .containerslide .right{
    background-image: url(images/piso_de_exhibicion.jpg);
}

#slide13 .containerslide .right{
    background-image: url(images/stopper.jpg);
}

#slide14 .containerslide .right{
    background-image: url(images/stopper_xl.jpg);
}

#slide15 .containerslide .right{
    background-image: url(images/stopper_eco.jpg);
}

.buttons {
    position: absolute;
    bottom: 30px;
    width: 100vw;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#botonerainicial  a.button {
    padding: 20px;
    font-size: 16px!important;
}

button, a.button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffffff;
}





















@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
         url('fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
         url('fonts/Poppins-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
         url('fonts/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
         url('fonts/Poppins-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.woff2') format('woff2'),
         url('fonts/Poppins-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.woff2') format('woff2'),
         url('fonts/Poppins-Light.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
         url('fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
         url('fonts/Poppins-SemiBoldItalic.woff') format('woff');
}
  